 <!-- About Section -->
 <section class="success" id="about">
   <div class="container">
     <div class="row">
       <div class="col-lg-12 text-center">
         <h2>About</h2>
         <hr class="star-light">
       </div>
     </div>
     <div class="row">
       <div class="col-lg-12">
                  <h3 style="text-align:center; color:#6891C3;">Meet Mimi</h3>
         <p>With over 15 years of Special Needs Experience and a Nashville Native, Mimi is passionate about coming alongside families to assist with the IEP process, college readiness, and independent living skills.</p>
       </div>
       <div class="col-lg-12">
         <p>
         </p>
       </div>
       <div class="col-lg-12">
        <h3 style="text-align:center; color:#6891C3;">Education</h3>
         <p>Mimi has her Master’s in Special Education from Vanderbilt University and her undergraduate degree is in Elementary Education from Lipscomb. She collaborated with the Department of Education to develop professional development for Special
           Education Teachers. </p>
       </div>
       <div class="col-lg-12">
         <p>
         </p>
       </div>
       <div class="col-lg-12">
      <h3 style="text-align:center; color:#6891C3;">Work Experience</h3>
         <p>Mimi assisted in the facilitation of the start of two special needs ministries in Nashville (Special Saturdays and The Ascent) both of which have experienced exponential growth and influence. She is also a certified IEP advocate through
           the Vanderbilt Kennedy Center. Mimi is also certified in Elementary Education (K-6), Comprehensive Special Education (K-12), and ELL. Mimi has had direct teaching experience in both public and private school settings. Mimi cannot wait to
           work with your family!</p>
       </div>
     </div>
 </section>